# Unreal Generate File

*/Build
*/Intermediate
*/Binaries
*/DerivedDataCache
*/Saved
BuildingEscape/Content/StarterContent/Textures
BuildingEscape/Content/StarterContent/HDRI
BuildingEscape/Content/StarterContent
BuildingEscape/.vs/
*.VC.db
